<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Your Cart</h2>
<table class="table table-striped">
  <%= render(cart.line_items) %>
  <tr>
    <td colspan="2">Total</td>
    <td><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<%= button_to 'Очистить корзину', cart, method: :delete %>

<%= button_to 'Оформить заказ', new_order_path, method: :get %>

<%# , #confirm: 'Вы уверены?' %>